<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>https://www.purplle.com/</title>

       <!-- font family -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">


    <script src="https://kit.fontawesome.com/da2d034d86.js" crossorigin="anonymous"></script>
    <link rel="icon" href="https://media6.ppl-media.com/mediafiles/ecomm/misc/purplle-16x16.png">

    <!-- slider button -->
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet">

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- nav css -->

    <link rel="stylesheet" href="css/navbar_home.css">

    <!-- home css -->
   <link rel="stylesheet" href="css/home.css">

  </head>
  <body>

<!-- nav div -->

    <div id="thatDiv"></div>


    <div id="Home_div">
      <!-- maindiv -->

      <!-- topmost slider -->

      <div id="slideShow_top">
        <span>  
            <i  style="margin-left:3%;margin-top:190px; font-size: 30px;color:grey" id="left"; class="fas fa-chevron-left"></i>  
            <i style="margin-left: 91%; text-align:right;font-size: 30px;color:grey" id="right" class="fas fa-chevron-right"></i>  
        </span>
    </div>

    <button onclick="topFunction()" id="myBtn" ><img src="https://img.icons8.com/ios/2x/circled-up-2.png"></button>

   <!-- top  products container -->

   <h2 id="heading_topp"> Heroes You Should Meet </h2>
   <div id="container_pro_home">

  </div>

  <div class="row" style="padding-bottom: 2.8rem">
  <div id="heading_img">
    <img
      src="https://media6.ppl-media.com/mediafiles/ecomm/misc/1632894028_brand-store_web.jpg"
    />
  </div>
  <div class="row" style="padding-bottom: 1.2rem"></div>
 <!-- animated slider -->


<div class="row" style="padding-bottom: 2rem">
  <div class="col">
    <div class="brand_slider_div2">
      <div class="slider_div2">
        <div class="sliderBoxxx slider_box_a">
          <a class="link_sliderTopagea" href="/faceproducts">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-163-243,c-at_max,f-gif/mediafiles/ecomm/misc/1638602984_store-widget_makeup-np.gif"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="sliderBoxxx slider_box_a">
          <a class="link_sliderTopagea" href="/skinproducts">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-163-243,c-at_max,f-gif/mediafiles/ecomm/misc/1638602983_store-widget_skin-np.gif"
                alt=""
              />
            </div>
          
          </a>
        </div>
        <div class="sliderBoxxx slider_box_a">
          <a class="link_sliderTopagea" href="/hairproducts">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-163-243,c-at_max,f-gif/mediafiles/ecomm/misc/1638602986_store-widget_hair-np.gif"
                alt=""
              />
            </div>
          
          </a>
        </div>
        <div class="sliderBoxxx slider_box_a">
          <a class="link_sliderTopagea" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-163-243,c-at_max,f-gif/mediafiles/ecomm/misc/1638602985_store-widget_luxury-np.gif"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="sliderBoxxx slider_box_a">
          <a class="link_sliderTopagea" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-163-243,c-at_max,f-gif/mediafiles/ecomm/misc/1638602983_store-widget_wellness_np-1.gif"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="sliderBoxxx slider_box_a">
          <a class="link_sliderTopagea" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-163-243,c-at_max,f-gif/mediafiles/ecomm/misc/1639663094_store-widget_feminine-store.gif"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="sliderBoxxx slider_box_a">
          <a class="link_sliderTopagea" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-163-243,c-at_max,f-gif/mediafiles/ecomm/misc/1638602986_store-widget_appliances-np.gif"
                alt=""
              />
            </div>
            
          </a>
        </div>
        
       


</div>
<button class="butona" href="#" id="leftSwipea">
<img
  src="https://i.postimg.cc/Pqp9GMrQ/Chevron-Left.png"
  alt=""
/>
</button>
<button class="butona" href="#" id="rightSwipea">
<img
  src="https://i.postimg.cc/K8Zmywdr/Chevron-Right.png"
  alt=""
/>
</button>
</div>
</div>
</div>


<div id="beauty_gal">
  <img src="https://media6.ppl-media.com/tr:w-1280,c-at_max,f-gif/mediafiles/ecomm/misc/1639762482_skingifbanner_web.gif">
</div>
<div class="row" style="padding-bottom: 1.2rem"></div>
 <!-- purple slider -->

 <div class="row" style="padding-bottom: 2.8rem">
  <div class="col">
    <div class="brand_slider_div1">
      <div class="slider_div1">
        <div class="sliderBoxx slider_box_p">
          <a class="link_sliderTopage1" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-3-4,c-at_max/mediafiles/ecomm/misc/1638866366_1638859755_the-ultimate-buying-guide-store.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="sliderBoxx slider_box_p">
          <a class="link_sliderTopage1" href="/skinproducts">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-3-4,c-at_max/mediafiles/ecomm/misc/1638774202_skin.jpg"
                alt=""
              />
            </div>
          
          </a>
        </div>
        <div class="sliderBoxx slider_box_p">
          <a class="link_sliderTopage1" href="/faceproducts">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-3-4,c-at_max/mediafiles/ecomm/misc/1638774201_makeup.jpg"
                alt=""
              />
            </div>
          
          </a>
        </div>
        <div class="sliderBoxx slider_box_p">
          <a class="link_sliderTopage1" href="/hairproducts">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-3-4,c-at_max/mediafiles/ecomm/misc/1638774199_hair.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="sliderBoxx slider_box_p">
          <a class="link_sliderTopage1" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-3-4,c-at_max/mediafiles/ecomm/misc/1638774200_luxury-store.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="sliderBoxx slider_box_p">
          <a class="link_sliderTopage1" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-3-4,c-at_max/mediafiles/ecomm/misc/1638774202_men.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="sliderBoxx slider_box_p">
          <a class="link_sliderTopage1" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-3-4,c-at_max/mediafiles/ecomm/misc/1638774202_wellness.jpg"
                alt=""
              />
            </div>
            
          </a>
        </div>
        <div class="sliderBoxx slider_box_p">
          <a class="link_sliderTopage1" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-3-4,c-at_max/mediafiles/ecomm/misc/1638774198_appliances-store.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="sliderBoxx slider_box_p">
          <a class="link_sliderTopage1" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-3-4,c-at_max/mediafiles/ecomm/misc/1638774199_fragrance-store.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="sliderBoxx slider_box_p">
          <a class="link_sliderTopage1" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-457,ar-3-4,c-at_max/mediafiles/ecomm/misc/1638774200_hygiene.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
       


</div>
<button class="butonp" href="#" id="leftSwipep">
<img
  src="https://i.postimg.cc/Pqp9GMrQ/Chevron-Left.png"
  alt=""
/>
</button>
<button class="butonp" href="#" id="rightSwipep">
<img
  src="https://i.postimg.cc/K8Zmywdr/Chevron-Right.png"
  alt=""
/>
</button>
</div>
</div>
</div>



      <div id="heading_img">
        <img
          src="https://media6.ppl-media.com/mediafiles/ecomm/misc/1632894027_best-sellers_web.jpg"
        />
      </div>
<!-- product slider -->




    
<div class="row" style="padding-bottom: 2.8rem">
  <div class="col">
    <div class="Product_slider">
      <div class="sliderP">
        <div class="product_box SliderCardp">
          <a class="give_path" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max/static/img/product/188872/lakme-forever-matte-liquid-lip-colour-nude-dream-5-6-ml_1_display_1575280706_4c19efa5.jpg"
                alt=""
              />
            </div>
            <div class="sliderCardDiv">
              <div class="product_summary">Lakme Forever Matte Liquid Lip Colour - Nude Dream (5.6 ml)</div>
              <div class="product_price">
                ₹ 300
              </div>
            </div>
            <a><div id="cart_btt">Add to cart</div></a>
          </a>
        </div>
        <div class="product_box SliderCardp">
          <a class="give_path" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max/static/img/product/206502/lakme-absolute-spotlight-eye-shadow-palette-berry-martini-12-g_8_display_1633410973_96b86f1c.jpg"
                alt=""
              />
            </div>
            <div class="sliderCardDiv">
              <div class="product_summary">Lakme Absolute Spotlight Eye Shadow Palette, Berry Martini (12 g)</div>
              <div class="product_price">
                ₹ 500
              </div>
            </div>
          </a>
        </div>
        <div class="product_box SliderCardp">
          <a class="give_path" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max/static/img/product/255610/pond-s-super-light-gel-moisturiser-147-g_8_display_1631080407_07f401a5.jpg"
                alt=""
              />
            </div>
            <div class="sliderCardDiv">
              <div class="product_summary">
                Pond's Super Light Gel Moisturiser (147 g)
              </div>
              <div class="product_price">
                ₹ 800
              </div>
            </div>
          </a>
        </div>
        <div class="product_box SliderCardp">
          <a class="give_path" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max/static/img/product/242322/simple-kind-to-skin-refreshing-facial-wash-150-ml-1-14_2_display_1630143793_60701d83.jpg"
                alt=""
              />
            </div>
            <div class="sliderCardDiv">
              <div class="product_summary">Simple Kind to Skin Refreshing Facial Wash | Facewash for sensitive Skin | No Soap, No Added Perfume, No Harsh Chemicals, No Artificial Color, No Alcohol and No Parabens (150 ml)</div>
              <div class="product_price">
                ₹ 300
              </div>
            </div>
          </a>
        </div>
        <div class="product_box SliderCardp">
          <a class="give_path" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max/static/img/product/234351/lakme-peach-milk-soft-creme-150-g_1_display_1563251131_65767d31.jpg"
                alt=""
              />
            </div>
            <div class="sliderCardDiv">
              <div class="product_summary">Lakme Peach Milk Soft Creme Moisturizer (150 g)</div>
              <div class="product_price">
                ₹ 360 
              </div>
            </div>
          </a>
        </div>
        <div class="product_box SliderCardp">
          <a class="give_path" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max/static/img/product/213564/lakme-9to5-primer-matte-lip-color-mp6-deep-wine-3-6-g_9_display_1633410901_44ccf247.jpg"
                alt=""
              />
            </div>
            <div class="sliderCardDiv">
              <div class="product_summary">
                Lakme 9TO5 Primer + Matte Lip Color MP6 Deep Wine (3.6 g)
              </div>
              <div class="product_price">
                ₹ 460
              </div>
            </div>
          </a>
        </div>
        <div class="product_box SliderCardp">
          <a class="give_path" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max/static/img/product/214310/lakme-absolute-blur-perfect-makeup-primer-10-g-18_7_display_1631104552_882ba13c.jpg"
                alt=""
              />
            </div>
            <div class="sliderCardDiv">
              <div class="product_summary">Lakme Absolute Blur Perfect Makeup Primer, 10 g</div>
              <div class="product_price">
                ₹ 650
              </div>
            </div>
          </a>
        </div>
       
      </div>
      <button class="pButton" href="#" id="swipe_L">
        <img
          src="https://i.postimg.cc/Pqp9GMrQ/Chevron-Left.png"
          alt=""
        />
      </button>
      <button class="pButton" href="#" id="swipe_R">
        <img
          src="https://i.postimg.cc/K8Zmywdr/Chevron-Right.png"
          alt=""
        />
      </button>
    </div>
  </div>
</div>


      <!-- purple image grid section 1 -->

      <div class="grid-container">
        <div class="grid-item">
          <img
            src="https://media6.ppl-media.com/tr:w-640,ar-20557-9993,c-at_max,f-gif/mediafiles/ecomm/misc/1639292496_new-celeb-banner-2.gif"
          />
        </div>

        <div class="grid-item">
          <img
            src="https://media6.ppl-media.com/tr:w-640,ar-20557-9993,c-at_max/mediafiles/ecomm/misc/1639147622_maybelline-fs-2.jpeg"
          />
        </div>

        <div class="grid-item">
          <img
            src="https://media6.ppl-media.com/tr:w-640,ar-20557-9993,c-at_max,f-gif/mediafiles/ecomm/misc/1639456470_celeb-banner-3-1.gif"
          />
        </div>

        <div class="grid-item">
          <img
            src="https://media6.ppl-media.com/tr:w-640,ar-20557-9993,c-at_max/mediafiles/ecomm/misc/1639229337_l-oreal-paris-mail-720x350-1.jpeg"
          />
        </div>

        <div class="grid-item">
          <img
            src="https://media6.ppl-media.com/tr:w-640,ar-20557-9993,c-at_max,f-gif/mediafiles/ecomm/misc/1639456525_new-template_celeb-banner_720x350_choosefree175on175_haircare_saleextendedstamp-1.gif"
          />
        </div>

        <div class="grid-item">
          <img
            src="https://media6.ppl-media.com/tr:w-640,ar-20557-9993,c-at_max/mediafiles/ecomm/misc/1639492267_lakme.jpeg"
          />
        </div>
      </div>

      
<!-- top brands for you  -->
   
<div id="each_slider_heading"><h2 id="slider_heading"> Top brands for you </h2></div>


<div class="row" style="padding-bottom: 2.8rem">
    <div class="col">
      <div class="brand_slider">
        <div class="slider">
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373375_goodvibes.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373379_maybelline.jpg"
                  alt=""
                />
              </div>
            
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373383_wow.jpg"
                  alt=""
                />
              </div>
            
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373373_biotique.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373380_nybae.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373380_plum.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373376_himalaya.jpg"
                  alt=""
                />
              </div>
              
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373381_sq.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373378_lotus.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373372_aroma-magic.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373377_lakme.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373381_purplle.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373377_loreal.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373375_facescanada.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373379_nivea.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373374_dermdoc.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
          <div class="slider_imgbox Slider_card_div">
            <a class="sliderCard_to_page" href="">
              <div>
                <img
                  src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1615373373_colorbar.jpg"
                  alt=""
                />
              </div>
             
            </a>
          </div>
        


          
        </div>
        <button class="buttons" href="#" id="leftSwipe">
          <img
            src="https://i.postimg.cc/Pqp9GMrQ/Chevron-Left.png"
            alt=""
          />
        </button>
        <button class="buttons" href="#" id="rightSwipe">
          <img
            src="https://i.postimg.cc/K8Zmywdr/Chevron-Right.png"
            alt=""
          />
        </button>
      </div>
    </div>
  </div> 

  
      <!-- another master slider -->
      <div id="beauty_gal">
        <img src="https://media6.ppl-media.com/tr:w-1280,c-at_max/mediafiles/ecomm/misc/1639476710_cashback-web.jpg">
      </div>
      <div class="row" style="padding-bottom: 1.2rem"></div>



      <div id="heading_img">
        <img
          src="https://media6.ppl-media.com/mediafiles/ecomm/misc/1632894033_makeup-guide-101_web.jpg"
        />
      </div>


<div id="makeup_guide">
  <div class="makeup_card"> 
    <img src="https://media6.ppl-media.com/tr:w-512,ar-2-3,c-at_max,f-gif/mediafiles/ecomm/misc/1635502123_korean1.gif">
  </div>
  <div class="makeup_card"> 
    <img src="https://media6.ppl-media.com/tr:w-512,ar-2-3,c-at_max,f-gif/mediafiles/ecomm/misc/1635502125_red1.gif">
  </div>
  <div class="makeup_card"> 
    <img src="https://media6.ppl-media.com/tr:w-512,ar-2-3,c-at_max,f-gif/mediafiles/ecomm/misc/1635502126_zodiac1.gif">
  </div>
  <div class="makeup_card"> 
    <img src="https://media6.ppl-media.com/tr:w-512,ar-2-3,c-at_max,f-gif/mediafiles/ecomm/misc/1635502124_halloween1.gif">
  </div>

</div>



      <!-- purple image grid section 2 -->

      <div class="grid-container">
        <div class="grid-item">
          <img
            src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max,f-gif/mediafiles/ecomm/misc/1639474634_blush-app.gif"
          />
        </div>

        <div class="grid-item">
          <img
            src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max,f-gif/mediafiles/ecomm/misc/1639474062_5in1_banner_app-banner_final.gif"
          />
        </div>

        <div class="grid-item">
          <img
            src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max,f-gif/mediafiles/ecomm/misc/1639554611_app-banner-1.gif"
          />
        </div>

        <div class="grid-item">
          <img
            src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max/mediafiles/ecomm/misc/1639487039_garnier_app-homepage.jpg"
          />
        </div>

        <div class="grid-item">
          <img
            src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max/mediafiles/ecomm/misc/1639480838_738x514_app-homepage.jpg"
          />
        </div>

        <div class="grid-item">
          <img
            src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max/mediafiles/ecomm/misc/1639486666_tfs-homepage.jpg"
          />
        </div>
      </div>


      <div id="beauty_gal">
        <img src="https://media6.ppl-media.com/tr:w-1280,c-at_max/mediafiles/ecomm/misc/1639762471_hul_lakmehome_web.jpg">
      </div>
      <div class="row" style="padding-bottom: 1.2rem"></div>

      <!-- skin type section  -->
      <div id="skinType_section">
        <div id="left_white_part">
          <h2>SHOP BY SKIN TYPE</h2>
        </div>

        <div id="right_image">
          <img
            src="https://media6.ppl-media.com/tr:w-320,ar-18-35,c-at_max/mediafiles/ecomm/misc/1637570308_skin-type_01.jpg"
          />
        </div>
      </div>


      

<div id="three_skin_type">
    <div class="skin_imgage"><img src="https://media6.ppl-media.com/tr:w-320,ar-18-35,c-at_max/mediafiles/ecomm/misc/1637570309_skin-type_02.jpg"></div>
    <div class="skin_imgage"><img src="https://media6.ppl-media.com/tr:w-320,ar-18-35,c-at_max/mediafiles/ecomm/misc/1637570309_skin-type_03.jpg"></div>
    <div class="skin_imgage"><img src="https://media6.ppl-media.com/tr:w-320,ar-18-35,c-at_max/mediafiles/ecomm/misc/1637570308_skin-type_04.jpg"></div>

</div> 


<div id="skin_tone">
    <div class="tone_img"><img src="https://media6.ppl-media.com/tr:w-427,ar-24-35,c-at_max/mediafiles/ecomm/misc/1637570294_skin-tone_01.jpg"></div>
    <div class="tone_img"><img src="https://media6.ppl-media.com/tr:w-427,ar-24-35,c-at_max,f-gif/mediafiles/ecomm/misc/1637570295_skin-tone_02.gif"></div>
    <div class="tone_img"><img src="https://media6.ppl-media.com/tr:w-427,ar-24-35,c-at_max,f-gif/mediafiles/ecomm/misc/1637570294_skin-tone_03.gif"></div>
</div>



<div id="beauty_gal">
  <img src="https://media6.ppl-media.com/tr:w-1280,c-at_max/mediafiles/ecomm/misc/1639652374_prebuzz-header-web-final.png">
</div>
<div class="row" style="padding-bottom: 1.2rem"></div>



  <!-- purple image grid section 3 -->

  <div class="grid-container">

  
    <div class="grid-item">
      <img
        src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max/mediafiles/ecomm/misc/1639486099_plix_homepage_app.jpg"
      />
    </div>

    <div class="grid-item">
      <img
        src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max/mediafiles/ecomm/misc/1639486418_cetaphil_app.jpg"
      />
    </div>

    <div class="grid-item">
      <img
        src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max/mediafiles/ecomm/misc/1639485826_streax_apphp.jpg"
      />
    </div>

    <div class="grid-item">
      <img
        src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max/mediafiles/ecomm/misc/1639484955_sanfe_apphp.jpg"
      />
    </div>

    <div class="grid-item">
      <img
        src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max/mediafiles/ecomm/misc/1639483215_carmesi_homepage_app.jpg"
      />
    </div>

    <div class="grid-item">
      <img
        src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max/mediafiles/ecomm/misc/1639485531_colorbar_hompage_app.jpg"
      />
    </div>

    
    <div class="grid-item">
      <img
        src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max/mediafiles/ecomm/misc/1639544841_clinique_app-1.jpg"
      />
    </div>

    
    <div class="grid-item">
      <img
        src="https://media6.ppl-media.com/tr:w-640,ar-2270-1581,c-at_max/mediafiles/ecomm/misc/1639482231_blueheaven_app.jpg"
      />
    </div>
  </div>



</div>
<!-- maindiv -->


<div id="beauty_gal">
  <img src="https://media6.ppl-media.com/tr:w-1380,c-at_max/mediafiles/ecomm/misc/1639748967_nybae-web-header-banner_1298_418.jpg">
</div>



  <!-- 4/4 grid area -->

 

  <div class="grid-container_four_cards">
      <!-- <div id="seperate_four"> -->
   
      <div class="grid-item_sq">   
<img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639505337_aroma-magic.jpg">
    
    </div>
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498379_daily-life-forever-52.png">
    </div>
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498378_bobbi-brown.jpg">
    </div>  
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498393_vaseline.png">
    </div>

  
 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498387_schwarzkopf-professional.png">
    </div>
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639505339_the-derma-co_.jpg">
    </div>  
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498382_loreal-professional.png">
    </div>
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498383_natures-essence.jpg">
    </div>
  

 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498383_oriental-botanics.jpg">
    </div>  
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498391_tnw.png">
    </div>
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498385_ozone.jpg">
    </div>
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498393_vaddi-herbals.jpg">
    </div> 
  

 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498380_imagic.jpg">
    </div>
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498378_c2p-pro.jpg">
    </div>
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639505339_the-moms-co.jpg">
    </div> 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498382_me-on_.jpg">
    </div>
  
 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498376_ay.jpg">
    </div>
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498388_st.-botanica.jpg">
    </div> 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498388_simple.jpg">
    </div> 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498385_power-gummies.png">
    </div> 
  
   
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498389_streax-professional.png">
    </div> 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639505340_vayam-ayurveda.jpg">
    </div> 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639505338_asfa-halal.jpg">
    </div> 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498380_himalyan-organics.png">
    </div> 
  

 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498381_inlife.jpg">
    </div> 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498386_quench.png">
    </div> 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498377_b-blunt.jpg">
    </div> 
    <div class="grid-item_sq">
      <img src="https://media6.ppl-media.com/tr:w-320,ar-2-3,c-at_max/mediafiles/ecomm/misc/1639498392_ustraa.png">
    </div> 
  </div>
  
  


  

    <div id="Home_secondary_div">

      <!-- brand store   -->
      <div class="heading_img1">
        <img
          src="https://media6.ppl-media.com/mediafiles/ecomm/misc/1632894028_brand-store_web.jpg"
        />
      </div>

      <div class="grid-container_brands">
        <div class="grid-item_brands">
        <img src="https://media6.ppl-media.com/tr:w-512,ar-2-3,c-at_max/mediafiles/ecomm/misc/1631079873_ny-bae.jpg">
        </div>
        <div class="grid-item_brands">
          <img src="https://media6.ppl-media.com/tr:w-512,ar-2-3,c-at_max/mediafiles/ecomm/misc/1629219442_biotique.jpg">
        </div>
        <div class="grid-item_brands">
          <img src="https://media6.ppl-media.com/tr:w-512,ar-2-3,c-at_max/mediafiles/ecomm/misc/1629219441_good-vibes.jpg">
        </div>  
        <div class="grid-item_brands">
          <img src="https://media6.ppl-media.com/tr:w-512,ar-2-3,c-at_max/mediafiles/ecomm/misc/1629219440_lakme_.jpg">
        </div>
        <div class="grid-item_brands">
          <img src="https://media6.ppl-media.com/tr:w-512,ar-2-3,c-at_max/mediafiles/ecomm/misc/1629219439_mamaearth.jpg">
        </div>
        <div class="grid-item_brands">
          <img src="https://media6.ppl-media.com/tr:w-512,ar-2-3,c-at_max/mediafiles/ecomm/misc/1629219438_maybelline_.jpg">
        </div>  
        <div class="grid-item_brands">
          <img src="https://media6.ppl-media.com/tr:w-512,ar-2-3,c-at_max/mediafiles/ecomm/misc/1629219437_plum.jpg">
        </div>
        <div class="grid-item_brands">
          <img src="https://media6.ppl-media.com/tr:w-512,ar-2-3,c-at_max/mediafiles/ecomm/misc/1629219436_swiss-beauty.jpg">
        </div>
        
      </div>



      <!-- trending searches -->
      <div class="heading_img1">
        <img
          src="https://media6.ppl-media.com/mediafiles/ecomm/misc/1632894028_brand-store_web.jpg"
        />
      </div>


      <div id="trending_search">

          <div class="trend_search">
             <img src="https://media6.ppl-media.com/tr:w-160,ar-13-17,c-at_max/mediafiles/ecomm/home/1630989724_nude-lipstick.jpg">
          </div>
          <div class="trend_search">
            <img src="https://media6.ppl-media.com/tr:w-160,ar-13-17,c-at_max/mediafiles/ecomm/home/1630989495_matte-lipstick.jpg">
         </div>
         <div class="trend_search">
          <img src="https://media6.ppl-media.com/tr:w-160,ar-13-17,c-at_max/mediafiles/ecomm/home/1630989730_rose-water.jpg">
        </div>
         <div class="trend_search">
             <img src="https://media6.ppl-media.com/tr:w-160,ar-13-17,c-at_max/mediafiles/ecomm/home/1630989828_under-eye-cream.jpg">
          </div>
          <div class="trend_search">
            <img src="https://media6.ppl-media.com/tr:w-160,ar-13-17,c-at_max/mediafiles/ecomm/home/1630989720_makeup-kit.jpg">
         </div>
         <div class="trend_search">
          <img src="https://media6.ppl-media.com/tr:w-160,ar-13-17,c-at_max/mediafiles/ecomm/home/1630989824_waterproof-mascara.jpg">
         </div>
       <div class="trend_search">
        <img src="https://media6.ppl-media.com/tr:w-160,ar-13-17,c-at_max/mediafiles/ecomm/misc/1628166530_vitamin-c-face-serum_.jpg">
        </div>
        <div class="trend_search">
          <img src="https://media6.ppl-media.com/tr:w-160,ar-13-17,c-at_max/mediafiles/ecomm/home/1630989569_aloe-vera-gel.jpg">
          </div>

      </div>



      <!-- another master slider -->

      <div id="beauty_gal">
        <img src="https://media6.ppl-media.com/tr:w-1280,c-at_max/mediafiles/ecomm/misc/1639762475_hul_plakmemaakeuphome_web.jpg">
      </div>
      <div class="row" style="padding-bottom: 1.2rem"></div>


      


      <!-- lifestyle section  -->
    <div class="heading_img1">
      <img
        src="https://media6.ppl-media.com/mediafiles/ecomm/misc/1632894032_lifestyle-store_web.jpg"
      />
    </div>

      <div class="grid-container_lifestyle">
        <div class="grid-item_lifestyle">
          <img src="https://media6.ppl-media.com/tr:w-640,ar-1-1,c-at_max/mediafiles/ecomm/misc/1632730500_ayurveda.jpg">
        </div>
        <div class="grid-item_lifestyle">
          <img src="https://media6.ppl-media.com/tr:w-640,ar-1-1,c-at_max/mediafiles/ecomm/misc/1632730501_clean-beauty.jpg"> 
        </div>
        <div class="grid-item_lifestyle">
          <img src="https://media6.ppl-media.com/tr:w-640,ar-1-1,c-at_max/mediafiles/ecomm/misc/1632730502_halal.jpg">
        </div>  
        <div class="grid-item_lifestyle">
          <img src="https://media6.ppl-media.com/tr:w-640,ar-1-1,c-at_max/mediafiles/ecomm/misc/1632730504_indian-brands.jpg">
        </div>
        <div class="grid-item_lifestyle">
          <img src="https://media6.ppl-media.com/tr:w-640,ar-1-1,c-at_max/mediafiles/ecomm/misc/1632730494_international-brands.jpg">
        </div>
        <div class="grid-item_lifestyle">
          <img src="https://media6.ppl-media.com/tr:w-640,ar-1-1,c-at_max/mediafiles/ecomm/misc/1632730495_natural.jpg">
        </div>  
      
      </div>


    </div>


    <!-- marketing stuff -->

    
<!-- from here on there is separate master div -->

<div class="row" style="padding-bottom: 1rem"></div>
<div id="insta_vid">
  <div class="heading_img1">
    <img
      src="https://media6.ppl-media.com/mediafiles/ecomm/misc/1632894031_instagram-loves-these_web.jpg"
    />
  </div>
  <div class="row" style="padding-bottom: 1rem"></div>

<div id="insta_videos">

  <div class="insta_video_div">
    <img src="https://media6.ppl-media.com/tr:w-582,ar-1011-1372,c-at_max/mediafiles/ecomm/misc/1633121875_kiara-advanis-look-from-shershaah.jpg">
  </div>
  <div class="insta_video_div">
    <img src="https://media6.ppl-media.com/tr:w-582,ar-1011-1372,c-at_max/mediafiles/ecomm/misc/1633121866_tapsees-bold-and-quirky-character-from-haseen-dillruba.jpg">
  </div>
  <div class="insta_video_div">
    <img src="https://media6.ppl-media.com/tr:w-582,ar-1011-1372,c-at_max/mediafiles/ecomm/misc/1633121868_anushka-sharmas-ethnic-yet-modern-look.jpg">
  </div>
  <div class="insta_video_div">
    <img src="https://media6.ppl-media.com/tr:w-582,ar-1011-1372,c-at_max/mediafiles/ecomm/misc/1633121873_jacqueline-fernandez-paani-paani-look.jpg">
  </div>
  <div class="insta_video_div">
    <img src="https://media6.ppl-media.com/tr:w-582,ar-1011-1372,c-at_max/mediafiles/ecomm/misc/1633121869_beat-the-sun-tan-with-this-scrub.jpg">
  </div>
  <div class="insta_video_div">
    <img src="https://media6.ppl-media.com/tr:w-582,ar-1011-1372,c-at_max/mediafiles/ecomm/misc/1633121872_fight-pimples-with-neem.jpg">
  </div>
</div>
</div>
    
<!-- innovation at its peak -->
<div class="row" style="padding-bottom: 1rem"></div>
<div id="innovation_div">
<div class="heading_img1">
  <img
    src="https://media6.ppl-media.com/mediafiles/ecomm/misc/1632894030_innovation-at-its-peak_web.jpg"
  />
</div>
<div class="row" style="padding-bottom: 1rem"></div>
<div id="inno_div">
  <div class="inno_card">
    <img src="https://media6.ppl-media.com/tr:w-711,ar-6351-4342,c-at_max/mediafiles/ecomm/misc/1632731597_curly.jpg">
  </div>
  <div class="inno_card">
    <img src="https://media6.ppl-media.com/tr:w-711,ar-6351-4342,c-at_max/mediafiles/ecomm/misc/1632731598_moisturiser.jpg">
  </div>
  <div class="inno_card">
    <img src="https://media6.ppl-media.com/tr:w-711,ar-6351-4342,c-at_max/mediafiles/ecomm/misc/1632731596_travel-friendly.jpg">
  </div>
</div>
<div class="row" style="padding-bottom: 1rem"></div>


</div>

<!-- pocket friendly store -->

<div id="pocket_friendly">
  <div class="heading_img1">
    <img
      src="https://media6.ppl-media.com/mediafiles/ecomm/misc/1632894030_innovation-at-its-peak_web.jpg"
    />
  </div>

  
  <div id="pocket_friend">

    <div class="pocket_div">
      <img src="https://media6.ppl-media.com/tr:w-427,ar-8-5,c-at_max,f-gif/mediafiles/ecomm/misc/1621575470_pocket-friendly-store-strip_01.gif">
    </div>
    <div class="pocket_div">
      <img src="https://media6.ppl-media.com/tr:w-427,ar-8-5,c-at_max,f-gif/mediafiles/ecomm/misc/1621575470_pocket-friendly-store-strip_02.gif">
    </div>
    <div class="pocket_div">
      <img src="https://media6.ppl-media.com/tr:w-427,ar-8-5,c-at_max,f-gif/mediafiles/ecomm/misc/1621575470_pocket-friendly-store-strip_03.gif">
    </div>

  </div>

</div>

<div class="row" style="padding-bottom: 1.2rem"></div>





<!-- other slider -->


 <div class="row" style="padding-bottom: 2.8rem">
  <div class="col">
    <div class="brand_slider_div">
      <div class="slider_div">
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-100-139,c-at_max/mediafiles/ecomm/misc/1605809792_bobbibrown-brand-tile.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-100-139,c-at_max/mediafiles/ecomm/misc/1606716262_carmesi-widget-brand-store.jpg"
                alt=""
              />
            </div>
          
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-582-809,c-at_max/mediafiles/ecomm/misc/1625115013_brand-store-ne.jpg"
                alt=""
              />
            </div>
          
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-100-139,c-at_max/mediafiles/ecomm/misc/1598897729_clinique-store-tile.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-100-139,c-at_max/mediafiles/ecomm/misc/1605183606_shakti-by-ny-bae-widget-brand-store.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-100-139,c-at_max/mediafiles/ecomm/misc/1585221956_good-vibes.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-100-139,c-at_max/mediafiles/ecomm/misc/1580291666_plum-brand-store.jpg"
                alt=""
              />
            </div>
            
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-100-139,c-at_max/mediafiles/ecomm/misc/1585221954_stay-quirky.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-100-139,c-at_max/mediafiles/ecomm/misc/1580291662_nivea-brand-store.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-100-139,c-at_max/mediafiles/ecomm/misc/1585221957_alps-goodness.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-582-809,c-at_max/mediafiles/ecomm/misc/1616649511_sugar-brand-store.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-100-139,c-at_max/mediafiles/ecomm/misc/1597990692_mac-brandtile.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-582-809,c-at_max/mediafiles/ecomm/misc/1617242712_asa-store.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-582-809,c-at_max/mediafiles/ecomm/misc/1630417407_bioessence_-brand-store.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-23-32,c-at_max/mediafiles/ecomm/misc/1634191481_minimalist_brandtile.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-100-139,c-at_max/mediafiles/ecomm/misc/1639380968_joy-brand-tile.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>
        <div class="slid_boxer slider_box_f">
          <a class="link_sliderTopage" href="">
            <div>
              <img
                src="https://media6.ppl-media.com/tr:w-512,ar-100-139,c-at_max/mediafiles/ecomm/misc/1580291666_plum-brand-store.jpg"
                alt=""
              />
            </div>
           
          </a>
        </div>


</div>
<button class="buton" href="#" id="leftSwipe10">
<img
  src="https://i.postimg.cc/Pqp9GMrQ/Chevron-Left.png"
  alt=""
/>
</button>
<button class="buton" href="#" id="rightSwipe10">
<img
  src="https://i.postimg.cc/K8Zmywdr/Chevron-Right.png"
  alt=""
/>
</button>
</div>
</div>
</div>



<div id="beauty_gal">
  <img src="https://media6.ppl-media.com/tr:w-1280,c-at_max/mediafiles/ecomm/misc/1639762474_hul_lakmemoisturizerhome_web.jpg">
</div>
<div class="row" style="padding-bottom: 1.2rem"></div>
















<!-- here comes a footer -->


 <!-- Footer -->

<div id="foooter">

    <!-- footer part1 start -->
    <div id="home_footer_part1">

      <div class="foot_card1">
          <img src="https://media6.ppl-media.com/mediafiles/ecomm/home/1499247950_secure-payment.jpg" alt="">
          <h1 class="fofo_title">100% Secure Payment</h3>
              <p id="p">All major credit & Debits cards Accepted</p>
      </div>

      <div class="foot_card2">
          <img src="https://media6.ppl-media.com/mediafiles/ecomm/home/1499247975_beauty-assistant.jpg" alt="">
          <h1 class="fofo_title">Beauty Assistent</h3>
              <p id="p">Tell me what you are looking for and I will work my magic to help you find your perfect match.
              </p>
      </div>

      <div class="foot_card3">
          <img src="https://media6.ppl-media.com/mediafiles/ecomm/home/1499247997_help-center.jpg" alt="">
          <h1 class="fofo_title">Help Center</h3>
              <p id="p">Got a question? Look no further. Browse FAQs or submit your query.</p>
      </div>
  </div>

  <!-- footer video frame -->

  <div id="spot_header">
      <div class="head1">
          <h2 class="spotlight">Spotlight</h2>
      </div>
      <div class="head1">
          <h2 class="spotlight">Shop on the go</h2>
      </div>
  </div>
  <div id="foot_video">
      
  <div class="foot_video_card">
    
      <iframe width="60%" height="70%" src="https://www.youtube.com/embed/NrI9d0XiP7M" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

  </div>

  
  <div class="foot_video_card">
    
      <div id="app_ads">
        <div>
          <p>
            The Purplle BFF APP is now fully loaded! Get downloading now on
            both iOS & Android
          </p>

          <img
            alt="Google Play"
            class="google_apple"
            src="https://media6.ppl-media.com/mediafiles/ecomm/home/1499247983_google-play.png"
          />

          <img
            alt="App Store"
            class="google_apple"
            src="https://media6.ppl-media.com/mediafiles/ecomm/home/1499247967_app-store.png"
          />
        </div>
        <div>
          <img
            alt="shop on the go"
            src="https://media6.ppl-media.com/mediafiles/ecomm/home/1499247958_shop-on-the-go.png"
          />
        </div>
      </div>
 </div>
</div>

  <div class="multiple_opsion_foot">
      <p>
          <strong>Makeup: </strong>
          Primer / Lipstick / Foundation / Eyeshadow / Eyeliner / Kajal / Concealer / Nail Polish / Compact / Mascara
          / Highlighters & Illuminators / Makeup Remover / BB & CC Cream / Lip Balm & Treatment /Eyebrow Enhancer /
          Loose Powder / Blush / Makeup Kits / Setting Sprays & Fixers / Gel Nail Polish.
      </p>


      <p>
          <strong>Skin: </strong>
          Face Pack Masks & Peels / Serum & Facial Oils / Face Wash / Facial Kits / Face Cream / Moisturizers / Toner
          / Essential & Carrier Oils / Sheet Masks / Scrubs & Exfoliators / Lip Balm & Care/
          Sunscreen / Body Lotions & Moisturizers / Night Cream / Body Wash & Shower Gels / Hand Sanitizer / Face Mist
          / Lip Scrub / Body Creams & Body Butters / Hand Cream .
      </p>


      <p>
          <strong>Hair: </strong>

          Shampoo / Conditioner / Hair Serum / Hair Oil / Hair Spa & Masque / Hair Treatment / Baby Shampoo / Dry
          Shampoo / Hair Spa Kits / Hair Nourishment Kit / Hair Color / Hair Fiber / Hair Spray &
          Leave-In Cream / Volumizing / Hair Extensions / Mousse Gels & Wax / Hair Styling Tool / Hair Accessories.
      </p>


      <p>

          <strong>Fragrance: </strong>

          Perfumes / Deodrants & Roll-Ons / Solid Perfumes / Aftershaves / Colognes / Gift & Value Sets For Men / Gift
          & Value Sets For Women.
          Collections:
          Castor Oil / Pastel Nail Polish / Lakme 9 To 5 / Black Kajal / Sunscreen.

      </p>



      <p>
          <strong>Brands: </strong>

          Biotique / Wow / Dermdoc / Himalaya / Darling Isabella / Maybelline / Loreal / Good Vibes /NY Bae / Stay
          Quirky / Aroma Magic / Alps Goodness / Lotus / Purplle / Sugar / Nivea / Lakme.
      </p>

      <p>
          <strong>Men: </strong>

          Perfumes / Deodrants & Roll-Ons / Face Wash / Shower Gels / Soap/Body Scrub / Talc / Shaving Cream / Beard
          Oil / Razors / Aftershave / Beard Wash / Grooming Kits / Shaving Accessories / Hair
          Styling / Trimmers.
      </p>


      <p>
          <strong>Accessories: </strong>

          Necklaces & Pendants / Earrings / Rings / Bangles & Braclets / Clips Bands & More.
          Electronics:
          Hair Straightener / Hair Curler / Hair Dryer / Electric Shaver / Trimmers & Clippers / Epilators / Massager.
      </p>

      <p>

          <strong>wellness: </strong>

          Health & Wellness Supplements / Vitamins & Supplements / Weight Management Products / Family Nutrition /
          Sports Supplements / Green Tea / Herbal Tea / Healthy Juices & Drinks.
      </p>


      <p>
          <strong>Blogs: </strong>

          Home Remedies For Dandruff / How To Apply Eyeliner / Tips For Lips Care / Home Remedies For Hair Fall / Best
          Sunscreen Lotions / Home Remedies For Acne And Pimples / Home Remedies For
          Whiteheads / Home Remedies For Suntan / Serum For Oily, Dry And Sensitive Skin / Choose The Right Serum For
          Your Skin / Body Lotion For Dry Skin / Home Remedies For Hyperpigmentation.
      </p>

  </div>

  <!-- last footer -->


  <div class="footer_ope">

      <div class="l1">
          <h2>PURPLLE</h2>
          <P>About</P>
          <P>Our Team</P>
          <P> Careers</P>
          <P>Press</P>
          <P>Sitemap</P>

      </div>


      <div class="l2">
          <h2>PURPLLE BUSINESS</h2>
          <P>sell on purplle</P>
      </div>


      <div class="l3">
          <h2>POLICY INFO</h2>
          <p>Privacy Policy</p>
          <p>Terms Of Use</p>
          <p> Return & Cancellation Policy</p>
      </div>


      <div class="l4">
          <h2>NEED HELP?</h2>
          <P>FAQ?</P>
          <P>Contact Us</P>
      </div>

  </div>

  <div class="social_media">

      <div class="part1">
          <h2>PAYMENT</h2>

      </div>

      <div class="part2">
          <img src="https://media6.ppl-media.com/mediafiles/ecomm/promo/1499177379_tt.jpg" alt="">

      </div>

      <div class="part3">
          <h2>CONNECT</h2>
      </div>

      <div class="part4">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-pinterest"></i>
          <i class="far fa-envelope"></i>

      </div>

  </div>

  <div class="finished">

      <div id="copyright">
          <span>Copyright&#169</span>

          <span> 2021 Purplle. All rights reserved.</span>
      </div>

  </div>


</div>




<!-- adaptive footer and nav -->


<!-- nav bar  -->

<div id="navigation_bar_for_smallDevice">
  <div id="menu_icon">
    <span> <img height="30%" width="30%" src="https://img.icons8.com/ios/2x/menu.png"> </span>
  </div>
  <div id="purple_logo">
    <a href="home.html">
      <img src="https://media6.ppl-media.com/static/purplle/img/purplle-logo-1.svg">
    </a>
  </div>
  <div id="serch_icon">
        <a href="WishList.html"><img
          height="30px"
          width="30px"
          src="https://img.icons8.com/material-outlined/2x/search--v2.gif"
          alt=""
        /></a>
  </div>
</div>
      <!-- footer for tab screen  -->

    <div id="footer_tab">
      <div class="foot_tab">
          <a href="home.html"  class="footToPage">
            <img
              src="https://img.icons8.com/ios/2x/home.png"
              alt=""
            />
          <span>Home</span>
        </a>
        <a href="cart.html"  class="footToPage">
          <img
            src="https://img.icons8.com/material-outlined/2x/search--v2.gif"
            alt=""
          />
          <span class="not">Categories</span>
        </a>
        <a href="cart.html" class="footToPage">
          <img
            src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/2x/external-offer-commerce-dreamstale-lineal-dreamstale.png"
            alt=""
          />
          <span class="not">offers </span>
        </a>
        
          <a href="home.html" class="footToPage">
            <img
              src="https://img.icons8.com/ios/2x/air-play.png"
              alt=""
            />
          <span class="not">studio</span>
        </a>
      </div>
    </div>

  </body>
</html>

<!-- importing navigation bar  -->
<script type="module">

import nav from './navbar.js';

var div = document.getElementById("thatDiv");

console.log(nav)

div.innerHTML = nav();


</script>

<!-- <script type = "module" src = "/navbar.js"></script> -->

<script src="script/home.js"></script>

<script type="module" src="navbar.js"></script>