<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
   
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
     <!-- nav css -->

     <link rel="stylesheet" href="/css/navbar_home.css">

    <title>Purplle Login </title>
    <link rel="icon" href="https://media6.ppl-media.com/mediafiles/ecomm/misc/purplle-16x16.png">

    <!-- <link rel="stylesheet" href="css/login.css"> -->
    <style>
      
      body{
        background-color: rgb(223, 223, 223);
      }
      .btn-primary{
        background-color: #e40980;
        padding: 2.5%;
      }
      .btn-primary:hover{
        background-color: #ec2994;
       
      }
      .btn-primary:active{
        background-color: #ec2994;
      }
       a{
        color: #e40980;
        text-decoration: none;
       }
 
.btn-google{
	display: inline-block;
	border-radius: 1px;
	text-decoration: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
	transition: background-color .218s, border-color .218s ,box-shadow .218s;
  margin-left: 1rem;
  width: 100%;
		height: 30%;
    margin: auto;
}

	.google-content{
    display: flex;
		align-items: center;
		/* width: 100%;
		height: 30%; */
    
  }
	
		.logo{
      padding: 0.7rem;
			height: inherit
    }
		
		svg{
      width: 18px;
			height: 18px
    }
		
		p{
      width: 100%;
			line-height: 1;
			letter-spacing: .21px;
			text-align: center;
			font-weight: 500;
			font-family: 'Roboto', sans-serif
    }
		.lead{
      font-size: 1.0rem;
      color: grey;
    }
	
.btn-google{
  background: #FFF
}
.btn-google:hover{
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3)
}
a{
  text-decoration: none;
}
	.google-content p{
    color: #757575;
    padding-top:0.8rem
  }
.btn-google:hover{
    text-decoration: none;

  } 
  .card{
    width: 58%;
    margin: auto;
  }
  

.card-body {
  padding: 2rem;
}

    </style>
  
  </head>
<body>

    
<!-- nav div -->

<div id="thatDiv"></div>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <!-- <i class="fas fa-sign-in-alt"></i>  Login -->
        <img src="https://media4.ppl-media.com/static/purplle/img/purplle-logo-1.svg"> 
      </h1>
      <%- include ("./partials/messages") %>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/users/register">Register</a>
      </p>

      
<div class="block-wrap">

	<!-- google	 -->
	<div>
		<a class="btn-google" href="">
			<div class="google-content">
				<div class="logo">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48 48">
					<defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/>
				</svg>
				</div>
				<p>Sign in with Google</p>
			</div>
		</a>
	</div>

</div>

    </div>
  </div>
</div>

  

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"
  ></script>
</body>
</html>

<script type="module">

  import nav from '/navbar.js';
  
  var div = document.getElementById("thatDiv");
  
  console.log(nav)
  
  div.innerHTML = nav();
  
  
  </script>