<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./comp/navcss.css">
    <style>
           
            #o{
                display: flex;
                justify-content: center;
                margin-top: 100px;
            }
    </style>
</head>
<body>

    <div id="thatDiv"></div>
    <h1 style="color: green;text-align: center;">Your Order Placed Successfully</h1>
    <div id="o">
        <img src="https://cdn1.iconfinder.com/data/icons/logistics-transportation-vehicles/202/logistic-shipping-vehicles-002-512.png" width="256" height="256" alt="Delivery van  premium icon" title="Delivery van premium icon">

    </div>
  
</body>
</html>
 